/*Landing*/
#fuel{
    display: flex;
    height: 100vh;
    background: linear-gradient(180deg, #B1A5FF 0%, #EFFFFB 79.17%, rgba(239, 255, 251, 0) 100%);
}
.landing-container, .tools-container{
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piggy-img > img, .hands-img > img{
    height: 100%;
    width: 1000px;
    animation: floater 2s infinite;
}
.hands-img > img{
    width: 1000px;
}
@media only screen and (max-width: 1896px){
    .piggy-img > img, .hands-img > img{
        height: 100%;
        width: 1000px;
    }
}

@media only screen and (max-width: 2104px){
    .mini-card{
        width: 100%;
    }

}
@media only screen and (max-width: 1123px){
    .hands-img{
        width: 100%;
        position: absolute;
        z-index: 1;
        opacity: 20% !important;
    }
    .tools-txt, .hands-img > img{
        width: 90%;
    }
}
@media only screen and (max-width: 990px){
    .piggy-img, .hands-img{
        position: absolute;
        z-index: 1;
        opacity: 20% !important;
    }
    .landing-txt{
        z-index: 2;
        padding: 100px;
        width: 80%;
        background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.22) 100%);
        backdrop-filter: blur(5px);
        border-radius: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
@media only screen and (max-width: 953px){
    .landing-txt{
        width: 90%;
    }
}
@media only screen and (max-width: 646px){
    .landing-txt{
        text-align: center;
        padding-top: 80px !important;
        padding-bottom: 80px !important;
        padding: 10px;
        width: 100%;
    }
    .arrow{
        display: none;
    }

}
/*Tools*/
#tools{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90.4deg, rgba(255, 202, 202, 0.69) 0.33%, rgba(151, 161, 255, 0) 99.65%);
    overflow: hidden !important;
}

.mini-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 20px;

}

.mini-card > .logo{
    background: #FFFFFF;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 8px;
}
.mini-card > .logo > img{
    width: 70px;
    height: 70px;
}
.tools-txt > h1{
    margin-bottom: 20px;
}

.mini-card > .txt{
    margin-left: 50px;
}
@media only screen and (max-width: 1272px){
    #tools{
        overflow-y: auto !important;
    }

}
@media only screen and (max-width: 781px){
    #tools{
        height: auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .hands-img{
        display: none;
    }
    .mini-card{
        display: block;
    }
    .mini-card > .logo{
        margin: auto;
        margin-bottom: 10px;
        width: 100px;
        display: flex;
        justify-content: center;
    }
    .mini-card > .txt{
        margin: auto;
    }
    .mini-card > .txt > h2, .mini-card > .txt > p {
        margin-bottom: 20px;
        text-align: center;
    }
    .mini-card > .txt > p{
        border-top: solid ;
        padding-top: 10px;
    }
}
/*Consulting*/
#consulting{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #EFFFFB 0%, #E8E8FF 44.79%, #6D5BE0 100%);
}
#consulting > .phone-img > img{
    width: 100%;
   
}
.consult-button{
    margin-top: 30px;
    float: right;
}
.consult-button > h6{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}
@media only screen and (max-width: 781px){
    #consulting{
        padding: 15px;
    }
    #consulting > .phone-img{
        display: none;
    }

}