#mobile-home{
    overflow-x: hidden;
}
#mobile-landing{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
    background: linear-gradient(180deg, #B1A5FF 0%, #EFFFFB 82.82%, #FFFFFF 100%);
}
#mobile-landing > div{
    z-index: 2 !important; 
}
#mobile-landing > div > h1{
    border-bottom: solid 3px;
    padding-bottom: 10px;
}

#mobile-landing > .image > img{
    animation: bubbleFloat infinite 3s;
    opacity: 90%;
    z-index: 1;
    position: absolute;
    top: 54%;
    left: 100px;
}
#mobile-landing > .image >  img.cloud{
    animation: floater infinite 6s;
    top: -500px;
    left: -100px;
}
#tools-mobile{
    position: relative;
    text-align: center;
    padding: 100px 0px;
    background: linear-gradient(90.4deg, rgba(255, 202, 202, 0.69) 0.33%, rgba(151, 161, 255, 0) 99.65%);
}
#tools-mobile  > div{
    z-index: 2;
}
#tools-mobile > img{
    z-index: 1;
    animation: bubbleFloat infinite 5s;
    width: 300px;
    opacity: 25%;
    position: absolute;
    top: 0;
    right: 15%;
}

#case-mobile{
    position: relative;
    padding-top: 100px;
    padding-bottom: 10px;
    background: linear-gradient(180.04deg, #E8E8FF -8.45%, #EFFFFB 99.97%);
}
#case-mobile > div{
    position: relative;
}

#case-mobile > div > h1, #case-mobile > div > p{
    text-align: center;
}
#case-mobile > div > h1{
    margin-bottom: 30px;
}
#consult-mobile {
    position: relative;
}

