#mobile-landing{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
    background: linear-gradient(180deg, #B1A5FF 0%, #EFFFFB 82.82%, #FFFFFF 100%);
    text-align: center;
}