#serviceCard{
    width: 350px;
    height: 450px;
    overflow: hidden;
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.25);
    border-radius: 18px;   
    margin-right: 15px;   
    transition: ease-in-out .2s;
}
#serviceCard:hover{
    transform: scale(1.03);
}

#serviceCard > div >  .heading{
    padding: 40px 12px 5px;
    background-color: white;
    
}
#serviceCard > div >  .heading > img{
    width: 50px;
    margin-bottom: 10px;
}
#serviceCard > div > p{
    padding: 40px 12px;
    height: 100%;
    color: white;

}
.pink-purple{
    background: linear-gradient(180deg, #FF0E73 0%, #6D5BE0 100%);
}
.blue-teal{
    background: linear-gradient(180deg, #6D5BE0 0%, #55EFC4 100%);
}
.purple-blue{
    background: linear-gradient(180deg, #EB00FF 0%, #3F2FFF 100%);
}
.pink-red{
    background: linear-gradient(180deg, #FF0BBB 0%, #E42E2E 100%);
}




#service-page{
    overflow: hidden;
    position: relative;
    padding-bottom: 200px;
    background: linear-gradient(180deg, #82ACEB 0%, rgba(173, 181, 255, 0.884) 31.25%, #FFCACA 72.92%, #F38989 100%);
}
#service-page > .heading{
    position: relative;
    z-index: 3;
    background: linear-gradient(180deg, #6D5BE0 0%, rgba(155, 141, 242, 0.37) 100%);
    height: 400px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 20px;
}
#service-page > .heading > .img > img{
    width: 100%;
    
}
.full-service{
    margin-bottom: 100px;
    position: relative;
    padding: 30px;
}
.service-section{
    position: relative;
    z-index: 2;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
}
.service-section > .cards{

    width: 50%; 
}
.service-section > .desc{
    padding-right: 100px;
    width: 40%;
}

.card-container{
    display: flex;
}
.bubble-img{
    position: absolute;
    z-index: 1;
    opacity: 50%;
}
.bubbleOne{
    width: 1000px;
    top: -30px;
    left: -200px;
    animation: bubbleFloatOpposite 3s infinite;
}
.bubbleTwo{
    width: 600px;
    top: -100px;
    right: -100px;
    animation: bubbleFloat 3s infinite;
}
.bubbleThree{
    width: 1100px;
    right: -100px;
    top: -250px;
    animation: bubbleFloat 3s infinite;
    
}
.bubbleFour{
    position: absolute;
    width: 700px;
    z-index: 1;
    left: -100px;
    top: -200px;
    animation: bubbleFloatOpposite 3s infinite;
  
}
#service-page > .calender-block{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#service-page > .calender-block  > .calendar-component{
    display: flex;
    justify-content: center;
}
#service-page > .calender-block > .calendar-component{
    z-index: 2;
}

@media only screen and (max-width: 1474px){
    #serviceCard{
        width: 300px;
    }
}
@media only screen and (max-width: 1271px){
    .service-section > .cards{
        width: 60%; 
    }

    
}
@media only screen and (max-width: 1088px){
    #serviceCard{
        width: 280px;
    }
}
@media only screen and (max-width: 1008px){
    #serviceCard{
        width: 250px;
    }
}
@media only screen and (max-width: 991px){
    #service-page > .heading {
        padding-right: 10px;
        padding-left: 10px;
        position: relative;
    }
    #service-page > .heading > .img{
        position: absolute;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }    
    #service-page > .heading > .img > img{
        width: 50%;
        opacity: 40%;

    }
    #service-page > .heading > .txt {
        z-index: 2;

    }

}
@media only screen and (max-width: 929px){
    .service-section > .cards{
        width: 100%; 
    }
    .service-section > .desc{
        display: none;
    }
    #serviceCard{
        width: 300px;
    }

}
@media only screen and (max-width: 646px){
    .card-container{
        display: block;
    }
    #serviceCard{
        margin-right: 0px;
        margin-bottom: 30px;
        height: auto;
    }
    #serviceCard > div > p{
        font-size: 20px ;
    }
}
@media only screen and (max-width: 538px){
    #service-page > .heading > .img{
        display: none;
    }

}
@media only screen and (max-width: 359px){
    #serviceCard{
        width: 100%;
    }
    .card-container{
        width: 100%;
    }
}
@media only screen and (max-width: 344px){
        #serviceCard{
            width: 250px;
            height: 450px;
        }
}
