.consult-box{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80%;
    padding: 30px;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.22) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 16px;
}
.consult-box > .txt{
    display: flex;
    justify-content: center;
    align-self: center;

}
.consult-box > .calendar{
    display: flex;
}


@media only screen and (max-width: 1023px){
    .consult-box{
        padding: 100px;
    }
}
@media only screen and (max-width: 959px){
    .consult-box{
       display: block;
    }
}
@media only screen and (max-width: 710px){
    .consult-box{
       width: 100%;
       padding: 30px;
       margin: 10px;
    }
}
@media only screen and (max-width: 809px){
    .consult-box > .calendar{
        width: 100%;
    }

}


/*Case Cover*/
#case-cover{
    position: relative;
    width: 32%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    transition: ease-in-out .2s;
}
#case-cover:hover{
    z-index: 5;
    transform: scale(1.1);
}
#case-cover:active{
    transform: scale(1);
}
#case-cover > a > .heading{
    border-radius: 28px 28px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 60%;
}
#case-cover > a > .heading > h2{
    padding: 40px 10px 20px 10px;
}

#case-cover > a > .bottom > .icon {
    padding-top: 15px;
    padding-bottom: 30px;
}
#case-cover > a > .bottom > .icon > img{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 60px;
    padding: 4px;
    margin-left: 10px;
    background-color: white;
    border-radius: 50%;
}
#case-cover > a > .bottom > p{
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.client-stamp{
    z-index: 4;
    position: absolute;
    width: 60px;
    top: -20px;
    right: -10px;
    animation: inflate infinite 2s;
}
@keyframes inflate {
    0% {
        transform: scale(1); /* Initial scale */
    }
    50% {
        transform: scale(1.1); /* Scale at midpoint */
    }
    100% {
        transform: scale(1); /* Return to original scale */
    }
}
.pink-purple-horizontal{
    background: linear-gradient(93.43deg, #6D5BE0 1.86%, #FF0E73 100%);
}
.green-blue-horizontal{
    background: linear-gradient(93.36deg, #55EFC4 0%, #0E6EFF 100%);
}
.purple-horizontal{
    background: linear-gradient(93.5deg, #6A0EFF 3.81%, #D942FF 100%);
}




@media only screen and (max-width:768px){
    #case-cover{
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
    #case-cover > a >  .bottom > .icon {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media only screen and (max-width:265px){

    #case-cover > a > .bottom > a{
        right: 5px;
    }

}